!! General
*.font: Hack Nerd Font Mono:size=10

!! Colorscheme

! special
*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf

! black
*.color0: #171717
*.color8: #928374

! red
*.color1: #cc241d
*.color9: #fb4934

! green
*.color2: #98971a
*.color10: #b8bb26

! yellow
*.color3: #d79921
*.color11: #fabd2f

! blue
*.color4: #458588
*.color12: #83a598

! magenta
*.color5: #b16286
*.color13: #d3869b

! cyan
*.color6: #689d6a
*.color14: #8ec07c

! white
*.color7: #a89984
*.color15: #ebdbb2

URxvt.background:	#1F1D19
URxvt.foreground:	#DEDEDE
URxvt.font:			xft:DejaVu Sans Mono:pixelsize=14:antialias=true:hinting=true
URxvt.boldFont:		xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true
URxvt.scrollBar:	false
URxvt.saveLines:	65535
URxvt.perl-ext-common: keyboard-select,url-select,clipboard
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
Xft*dpi:       96
Xft*antialias: True
Xft*hinting:   Full
URxvt.keysym.KP_Add:    +
URxvt.keysym.KP_Subtract: -
URxvt.keysym.KP_Multiply: *
URxvt.keysym.KP_Divide  : /
URxvt.keysym.KP_Decimal : .
URxvt.keysym.KP_Separator : ,
URxvt.keysym.KP_1:      1
URxvt.keysym.KP_2:      2
URxvt.keysym.KP_3:      3
URxvt.keysym.KP_4:      4
URxvt.keysym.KP_5:      5
URxvt.keysym.KP_6:      6
URxvt.keysym.KP_7:      7
URxvt.keysym.KP_8:      8
URxvt.keysym.KP_9:      9
URxvt.keysym.KP_0:      0
